extends layout
block reedscript
	link(rel='stylesheet', href='/css/hosyu_search.css')
	script(type="text/javascript", src="/js/jquery-1.11.3.min.js")
	script(type="text/javascript", src="/js/jquery_highlight.js")
	script(type="text/javascript", src="/js/searchmodule.js")
	script.
		window.onload = function(){
			$('.textbox').removeHighlight().highlight('#{searchtxt}');
		};
block title
	div(class="title") 保守作業履歴検索
block content
	nav
		ul(id="menu")
			li
				a(href="/menu") メインメニュー
			li
				a(href="/maintenance/report") 保守作業報告
			li
				//a(href="/info/share") 情報共有
				a(href="#", style="opacity: 0.5;") 情報共有
			li
				//a(href="/info/search") 情報検索
				a(href="#", style="opacity: 0.5;") 情報検索
			li
				//a(href="/tool") ツール
				a(href="#", style="opacity: 0.5;") ツール
	div(id="contents")
		form(id="form_hosyu_search", action="/maintenance/search", method="post")
			ul
				li
					label
						span 期間：
					input(type="date", name="startdate", class="txtfiled")
					label 　～　
					input(type="date", name="enddate", class="txtfiled")
					label 　　　分類：
					select(id="bunrui", name="classification")
						option(value="問合対応") 問合対応
						option(value="調査作業") 調査作業
						option(value="復旧作業") 復旧作業
						option(value="修正作業", selected) 修正作業
						option(value="打合作業") 打合作業
						option(value="その他") その他
				li
					span 　
					input(type="text", name="content", size="40", class="txtfiled")
					label 　　　　
					input(type="submit", value="検索！")
				li
					label
						span ソート順：
					select(id="sort", name="sortorder")
						option(value="worker") 作業者
						option(value="date_asc") 日付：昇順
						option(value="date_des", selected) 日付：降順
	div(id="contents2")
		ul(id="kekka")
			li
				label
					span 検索結果：
		p(class="textbox")
			if json
				each search in json
					a(href="/maintenance/history/#{search.id}", class="History")
						| #{search.start_date} ～ #{search.end_date} #{search.title} #{search.worker} 
						each classification in search.classification
							| #{classification} 
						br
						if search.content
							| 　　　#{search.content}
							br