extends layout
block reedscript
	link(rel='stylesheet', href='/css/info_share.css')
	script(type="text/javascript", src="/js/jquery-1.11.3.min.js")
	script(type="text/javascript", src="/js/searchmodule.js")
block title
	div(class="title") 情報共有
block content
	nav
		ul(id="menu")
			li
				a(href="/") メインメニュー
			li
				a(href="/maintenance/report") 保守作業報告
			li
				a(href="/maintenance/search") 保守作業履歴検索
			li
				a(style="background:#555;") 情報共有
			li
				a(href="/info/search") 情報検索
			li
				a(href="/tool") ツール
	div(id="contents")
		form(id="info_share", action="/info/share", method="post")
			ul
				li
					label
						span タイトル：
					input(type="text", name="Info_title", size="40", style="ime-mode: active;", class="txtfiled",required,  autofocus)
				li
					label
						span 本文：
					textarea(id="naiyo", name="Info_content", cols="80", rows="6",style="ime-mode: active;", required, class="txtfiled2")
				li
					label
						span カテゴリ：
					select(id="Info_category_dai", name="category_dai")
						option(value="sample1") サンプル１
						option(value="sample2") サンプル２
						option(value="sample3") サンプル３
					select(id="Info_category_cyu", name="category_cyu")
						option(value="sample1") サンプル１
						option(value="sample2") サンプル２
						option(value="sample3") サンプル３
					select(id="Info_category_syo", name="category_syo")
						option(value="sample1") サンプル１
						option(value="sample2") サンプル２
						option(value="sample3") サンプル３
				li
					label
						span マーク：
					input(type="checkbox", name="Info_important", value="true")
					|重要
					label 　　　　
					input(type="checkbox", name="Info_attention", value="true")
					|注目
					input(type="submit", value="書き込み！")
					input(type="hidden", value="", id="hiddenNo", name="parentNo")
			ul
				li(class="alone")
					label
						span リプライ先：
						p(id="reply")
	div(id="contents2")
		p(style="color: #666; padding-left: 10%") スレッド一覧
		p(class="textbox", onselectstart="return false")
			if json
				-var i = 0;
				each search in json
					if search.value.child.length == 0
						|・
					else
						a(href="javaScript:treeMenu('tree#{i}')") ■
					if search.value.Info_important == "true"
						a(class="circle_important") ●
					else
						a(class="circle_none") ●
					if search.value.Info_attention == "true"
						a(class="circle_attention") ●
					else
						a(class="circle_none") ●
					a(class="History", onclick="dblclickEv(this, #{search.value.myID})")
						| #{search.value.createdate} #{search.value.Info_title} #{search.value.Info_content}
						br
					-var space = "　 "
					span(id="tree#{i}", style="display:none;")
						each childtext in search.value.child
							| #{space}┗ 
							if childtext.Info_important == "true"
								a(class="circle_important") ●
							else
								a(class="circle_none") ●
							if childtext.Info_attention == "true"
								a(class="circle_attention") ●
							else
								a(class="circle_none") ●
							a(class="History", onclick="dblclickEv(this, #{search.value.myID})")
								| #{childtext.createdate} #{childtext.Info_title} #{childtext.Info_content}
								br
							-space += "　 "
					-i++